@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;

  outline: 0  ;

  box-sizing: border-box;
}

html {
  font-family: 'Nunito';
}

body {
  color: #FFF4E0;
  background: #2b2f35;
}

.boards {
  display: flex;
  
  margin-top: 32px;
}

.boards .board {
  background: #30353b;
  border: 1px solid #FC3C3C11;
  border-radius: 4px;

  margin: 16px 24px;
}

.boards .board h3 {
  padding: 16px;
  color: #FC3C3C;
}

.boards .board .dropzone {
  padding: 16px;
  min-width: 322px;
  min-height: 200px;
}

.boards .board .dropzone .card {
  padding: 16px;
  box-shadow: 0 2px 2px -1px #FC3C3Ccc;

  max-width: 254px;
  width: 100%;
  margin: 25px 0;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  background: #363b41;
}

.dropzone .card .status {
  width: 15%;
  height: 8px;
  background: gray;
  margin-bottom: 16px;
  border-radius: 8px;
}

.dropzone .card .status.green {
  background: #23d2ac;
}
.dropzone .card .status.blue {
  background: #33adff;
}
.dropzone .card .status.red {
  background: #ff0000;
}

.highlight {
  background: #FC3C3C11;
}

.card, .dropzone {
  transition: all 400ms;
}

.form form {
  display: flex;
  align-items: center;
}

.form input {
  width: 248px;
  height: 48px;
  margin-left: 24px;
  border: 0;
  padding: 10px;
  font-size: 17px;
  border-radius: 4px;
  background: #30353b;
  box-shadow: 0 2px 2px -1px #FC3C3Ccc;
  color: #fff;
}

.form form button {
  width: 88px;
  height: 48px;
  margin-left: 10px;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  background: #30353b;
  box-shadow: 0 2px 2px -1px #FC3C3Ccc;
  transition: all 200ms;
}

.form form button:hover {
  opacity: 0.8;
}

.form form button svg {
  color: #FC3C3Ccc;
}

@media screen and (max-width: 1054px) {
  .boards {
    display: inline-block;
  }
}